--
-- PostgreSQL database dump
--

\restrict 481xIxgJdksNAMXqKIfNdmhbGVa4ipZG52vCUf1Z898zaHB9JLP5Yb7VaIJ65qB

-- Dumped from database version 17.6 (Debian 17.6-1.pgdg13+1)
-- Dumped by pg_dump version 17.6 (Debian 17.6-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: core; Type: SCHEMA; Schema: -; Owner: joshua
--

CREATE SCHEMA core;


ALTER SCHEMA core OWNER TO joshua;

--
-- Name: ops; Type: SCHEMA; Schema: -; Owner: joshua
--

CREATE SCHEMA ops;


ALTER SCHEMA ops OWNER TO joshua;

--
-- Name: raw; Type: SCHEMA; Schema: -; Owner: joshua
--

CREATE SCHEMA raw;


ALTER SCHEMA raw OWNER TO joshua;

--
-- Name: staging; Type: SCHEMA; Schema: -; Owner: joshua
--

CREATE SCHEMA staging;


ALTER SCHEMA staging OWNER TO joshua;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: air_quality_daily; Type: TABLE; Schema: core; Owner: joshua
--

CREATE TABLE core.air_quality_daily (
    date date NOT NULL,
    city text NOT NULL,
    pm25 numeric,
    pm10 numeric,
    aqi numeric,
    obs_count integer,
    source text
);


ALTER TABLE core.air_quality_daily OWNER TO joshua;

--
-- Name: alerts; Type: TABLE; Schema: core; Owner: joshua
--

CREATE TABLE core.alerts (
    id bigint NOT NULL,
    ts timestamp with time zone DEFAULT now(),
    signal text,
    severity text,
    details jsonb
);


ALTER TABLE core.alerts OWNER TO joshua;

--
-- Name: alerts_id_seq; Type: SEQUENCE; Schema: core; Owner: joshua
--

CREATE SEQUENCE core.alerts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE core.alerts_id_seq OWNER TO joshua;

--
-- Name: alerts_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: joshua
--

ALTER SEQUENCE core.alerts_id_seq OWNED BY core.alerts.id;


--
-- Name: econ_daily; Type: TABLE; Schema: core; Owner: joshua
--

CREATE TABLE core.econ_daily (
    date date NOT NULL,
    indicator text NOT NULL,
    region text DEFAULT 'NG'::text NOT NULL,
    value numeric,
    source text,
    meta jsonb,
    inserted_at timestamp with time zone DEFAULT now()
);


ALTER TABLE core.econ_daily OWNER TO joshua;

--
-- Name: weather_daily; Type: TABLE; Schema: core; Owner: joshua
--

CREATE TABLE core.weather_daily (
    date date NOT NULL,
    state text NOT NULL,
    city text NOT NULL,
    temp_c numeric,
    precip_mm numeric,
    humidity numeric,
    wind_kph numeric
);


ALTER TABLE core.weather_daily OWNER TO joshua;

--
-- Name: ingestion_log; Type: TABLE; Schema: ops; Owner: joshua
--

CREATE TABLE ops.ingestion_log (
    id bigint NOT NULL,
    source text,
    run_ts timestamp with time zone DEFAULT now(),
    status text,
    records integer,
    message text
);


ALTER TABLE ops.ingestion_log OWNER TO joshua;

--
-- Name: ingestion_log_id_seq; Type: SEQUENCE; Schema: ops; Owner: joshua
--

CREATE SEQUENCE ops.ingestion_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE ops.ingestion_log_id_seq OWNER TO joshua;

--
-- Name: ingestion_log_id_seq; Type: SEQUENCE OWNED BY; Schema: ops; Owner: joshua
--

ALTER SEQUENCE ops.ingestion_log_id_seq OWNED BY ops.ingestion_log.id;


--
-- Name: alerts id; Type: DEFAULT; Schema: core; Owner: joshua
--

ALTER TABLE ONLY core.alerts ALTER COLUMN id SET DEFAULT nextval('core.alerts_id_seq'::regclass);


--
-- Name: ingestion_log id; Type: DEFAULT; Schema: ops; Owner: joshua
--

ALTER TABLE ONLY ops.ingestion_log ALTER COLUMN id SET DEFAULT nextval('ops.ingestion_log_id_seq'::regclass);


--
-- Data for Name: air_quality_daily; Type: TABLE DATA; Schema: core; Owner: joshua
--

COPY core.air_quality_daily (date, city, pm25, pm10, aqi, obs_count, source) FROM stdin;
\.


--
-- Data for Name: alerts; Type: TABLE DATA; Schema: core; Owner: joshua
--

COPY core.alerts (id, ts, signal, severity, details) FROM stdin;
\.


--
-- Data for Name: econ_daily; Type: TABLE DATA; Schema: core; Owner: joshua
--

COPY core.econ_daily (date, indicator, region, value, source, meta, inserted_at) FROM stdin;
\.


--
-- Data for Name: weather_daily; Type: TABLE DATA; Schema: core; Owner: joshua
--

COPY core.weather_daily (date, state, city, temp_c, precip_mm, humidity, wind_kph) FROM stdin;
\.


--
-- Data for Name: ingestion_log; Type: TABLE DATA; Schema: ops; Owner: joshua
--

COPY ops.ingestion_log (id, source, run_ts, status, records, message) FROM stdin;
\.


--
-- Name: alerts_id_seq; Type: SEQUENCE SET; Schema: core; Owner: joshua
--

SELECT pg_catalog.setval('core.alerts_id_seq', 1, false);


--
-- Name: ingestion_log_id_seq; Type: SEQUENCE SET; Schema: ops; Owner: joshua
--

SELECT pg_catalog.setval('ops.ingestion_log_id_seq', 1, false);


--
-- Name: air_quality_daily air_quality_daily_pkey; Type: CONSTRAINT; Schema: core; Owner: joshua
--

ALTER TABLE ONLY core.air_quality_daily
    ADD CONSTRAINT air_quality_daily_pkey PRIMARY KEY (date, city);


--
-- Name: alerts alerts_pkey; Type: CONSTRAINT; Schema: core; Owner: joshua
--

ALTER TABLE ONLY core.alerts
    ADD CONSTRAINT alerts_pkey PRIMARY KEY (id);


--
-- Name: econ_daily econ_daily_pkey; Type: CONSTRAINT; Schema: core; Owner: joshua
--

ALTER TABLE ONLY core.econ_daily
    ADD CONSTRAINT econ_daily_pkey PRIMARY KEY (date, indicator, region);


--
-- Name: weather_daily weather_daily_pkey; Type: CONSTRAINT; Schema: core; Owner: joshua
--

ALTER TABLE ONLY core.weather_daily
    ADD CONSTRAINT weather_daily_pkey PRIMARY KEY (date, state, city);


--
-- Name: ingestion_log ingestion_log_pkey; Type: CONSTRAINT; Schema: ops; Owner: joshua
--

ALTER TABLE ONLY ops.ingestion_log
    ADD CONSTRAINT ingestion_log_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict 481xIxgJdksNAMXqKIfNdmhbGVa4ipZG52vCUf1Z898zaHB9JLP5Yb7VaIJ65qB

